
header .nav-search-panel input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font: var(--type-headline-2-default-font);
    letter-spacing: var(--type-headline-2-default-letter-spacing);
    border: 1px solid currentcolor;
    appearance: none;
}